#keymazony_readme {
  background: #AE0000;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  margin-top: 7px;
  line-height: 16px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  width: 400px;

  -moz-border-radius: 2px;
}

#keymazony-toggle-play-shortcut,
#keymazony-toggle-stop-shortcut,
#keymazony-toggle-previous-shortcut,
#keymazony-toggle-next-shortcut,
#keymazony-toggle-mute-shortcut,
#keymazony-toggle-volup-shortcut,
#keymazony-toggle-voldown-shortcut {
  width: 250px;
}
